.customCursor {
  position: absolute;
  pointer-events: none;
  width: 30px; /* Tamaño del cursor completo (ancho del anillo) */
  height: 30px; /* Tamaño del cursor completo (alto del anillo) */
  transform: translate(-50%, -50%); /* Centra el cursor en el punto del mouse */
  display: flex;
  align-items: center;
  justify-content: center;
}

.outerRing {
  position: absolute;
  width: 30px; /* Tamaño del anillo */
  height: 30px; /* Tamaño del anillo */
  border: 1px solid rgb(90, 146, 168); /* Color del anillo */
  border-radius: 50%;
  box-sizing: border-box;
}

.innerCircle {
  position: relative;
  width: 5px; /* Tamaño del círculo interior */
  height: 5px; /* Tamaño del círculo interior */
  background-color: rgb(90, 146, 168); /* Color del círculo interior */
  border-radius: 50%;
  transition: width 0.2s, height 0.2s; /* Transición para el agrandamiento */
}

/* Estilo cuando el cursor está sobre un botón */
.hovering .innerCircle {
  width: 20px; /* Tamaño agrandado del círculo interior */
  height: 20px; /* Tamaño agrandado del círculo interior */
}
